@import"/Home_main_page/css/reset.css";
ul{
    list-style-type: none;
  }
  *{
    line-height: 35px;
    padding: 0;
    margin: 0;
  }
  html {
    font-size: 62.5%;
  }
  body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.6rem;
    line-height: 1.4;
  }
  :root {
    --color-primary: #ff5500;
    --color-secondary: #ffb300;
    --color-button-main: #ff5500;
    --color-button-hover: #ff7c3a;
    --color-button-edit: #ebebeb;
    --color-background: #f5f5f5;
}
.ct_khuyen_mai_container{
    width: 1180px;
    height: 500px;
}
.title{
    width: 100%;
    height: 5rem;
    border: 1px solid var(--color-button-edit);
    background-color: white;
    padding-top: 2px;
}

h3{
    color: var(--color-primary);
}

.right{
    width: 250px !important;
    height: 100%;
    float: right;
}
.right button{
    width: 230px;
    border-radius: 5px;
    border: none;
    background-color: var(--color-button-main);
    color: white;
}
.right button:hover {
    background-color: var(--color-button-hover);
}
.sap_xep{
    /* padding-top: 0.5rem; */
    background-color: white;
    margin-top: 1rem;
    width: 100%;
    height: 65rem;
    
    border: 0.5px solid var(--color-button-edit)
}
.sap_xep ul,li{
    float: left;
    margin-left: 1rem;
    margin-top: 0.35rem;
}

.sap_xep select,input,a{
    margin-top: -1rem;
    margin-left: 1.5rem;
}
.sap_xep select{
    width: 15rem;
    height: 3rem;
}
.sap_xep input{
    width: 185px;
    height: 3rem;
}
.time{
    width: 15rem !important;
    height: 3rem;
    margin-bottom: 2rem;
}
.btn_search{
    width: 10rem;
    height: 100%;
    background-color: var(--color-button-main);
    border: none;
    border-radius: 5px;
    color: white;
    margin-left: 1rem;
}
.btn_search:hover{
    background-color: var(--color-button-hover);
}
.btn_del{
    border: none;
    background-color: var(--color-primary);
    color: white;
    float: right;
    margin-top: 1rem;
    margin-right: 2.5rem;
    width: 15rem;
    height: 4rem;
    border-radius: 5px;
}
.more_button_col{
    width: 15rem !important;
}
.more_button{
    width: 3rem;
    height: 3rem;
    border: none;
    background-color: unset;
    font-size: 2rem;
}
.more_button i{
    color: grey;
}
.more_button i:hover{
color: var(--color-button-hover);
}
.dropdown_more_btn {
    position: relative;
    display: inline-block;
}
.dropdown_content_more{
    margin-left: -4rem;
    text-align:left;
    display: none;
    position: absolute;
    min-width: 130px;
    z-index: 1;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 10);
    -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 10);
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 10);
}
.dropdown_content_more i{
    padding-right: 1rem;
    /* padding-left: 1rem; */
}
.dropdown_content_more a {
    color: black;
    text-decoration: none;
    margin-top: 1px;
    display: block;
}
.dropdown_content_more a:hover {color: var(--color-button-hover);}

.dropdown_more_btn:hover .dropdown_content_more {display: block;}

.dropdown_more_btn:hover .more_button {color:var(--color-button-hover);}
.scroll_table {
    margin-top: 2rem;
    margin-left: 2%;
    height: 50rem;
    width: 95%;
    overflow-y: auto;
    border: 1px solid var(--color-background);
    border-collapse: collapse;
    text-align: center;
}
.scroll_table table{
    width: 100%;
}
/* .scroll_table th,td{
    width: 100rem;
} */
.scroll_table thead th{
    position: sticky !important;
    top: 0 !important;
    background-color: gray;
    color: black;
}
.scroll_table input{
    width: 2rem;
    height: 2rem;
}
.scroll_table img{
    width: 10rem;
    height: 10rem;
}
.checked_btn{
    width: 8rem;
    padding-top: 5px;
    
}
.checked_btn input{
    margin-left: -2rem ;
}
.all{
    margin-left: 1px !important;
    width: 2.2rem ;
    height: 2.2rem;
}