span > i {
    color:#ff7d00;
}
.fa-paper-plane, .fa-globe{
    color:#ff7d00;
}
body {
    font-family: "Source Sans Pro", sans-serif;
    line-height: 1;
    color: #635f85;
    font-size: 16px;
    font-weight: 400;
}