html {
  font-size: 62.5%;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
}
/* common css */
:root {
  --color-primary: #ff5500;
  --color-secondary: #ffb300;
  --color-button-main: #ff5500;
  --color-button-hover: #ff7c3a;
  --color-button-edit: #ebebeb;
  --color-background: #f5f5f5;
}

/* app css */
.header {
  max-width: 100%;
}
.header__top {
  max-width: 1600px;
  height: 100px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.header__top .header__logo {
  max-height: 95px;
}
.header__top .header__nav {
  margin-left: auto;
  margin-right: 2rem;
}
.header__nav-list {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 3rem;
}
.header__nav-list .header__nav-item {
  font-size: 2.4rem;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
}
.btn-register {
  color: var(--color-button-main);
  padding: 1rem 1.5rem;
  border-radius: 20px;
  font-style: italic;
}
.btn-register:hover {
  background-color: var(--color-button-hover);
  color: #fff;
}
.btn-login {
  color: #fff;
  background-color: var(--color-button-main);
  padding: 1rem 1.5rem;
  border-radius: 20px;
}
.btn-login:hover {
  background-color: var(--color-button-hover);
  color: #fff;
}
