ul{
    list-style-type: none;
  }
  *{
    line-height: 35px;
    padding: 0;
    margin: 0;
  }
  html {
    font-size: 62.5%;
  }
  body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.6rem;
    line-height: 1.4;
  }
  :root {
    --color-primary: #ff5500;
    --color-secondary: #ffb300;
    --color-button-main: #ff5500;
    --color-button-hover: #ff7c3a;
    --color-button-edit: #ebebeb;
    --color-background: #f5f5f5;
  }
.danh_muc_container{
  width: 1500px !important;
  height: 800px;
}
.menu_container{
  width: 250px;
  height: 800px;
  float: left;
  background-color: black;
}
.noi_dung_container{
  width: 1250px;
  height: 800px;
  
  float: left;
}
.noi_dung_container iframe{
  margin-left: 1rem;
  width: 1240px;
  height: 800px !important;
}