ul{
    list-style-type: none;
  }
  *{
    line-height: 35px;
    padding: 0;
    margin: 0;
  }
  html {
    font-size: 62.5%;
  }
  body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.6rem;
    line-height: 1.4;
  }
  :root {
    --color-primary: #ff5500;
    --color-secondary: #ffb300;
    --color-button-main: #ff5500;
    --color-button-hover: #ff7c3a;
    --color-button-edit: #ebebeb;
    --color-background: #f5f5f5;
  }
.quan_ly_san_pham_container{
    width: 100%;
    height: 100vh;
    
    font-size: 2rem;
}
.header_container{
    background-color: white;
    height: 6rem;
    width: 100%;
    padding-top: 1rem;
    border: 1px solid var(--color-background);
    border-radius: 1rem;
}
.header_container h2{
    padding-left: 2rem;
    color: var(--color-primary);
}
.header_container ul,li{
    display: flex;
    float: left;
    width: 100%;
}
.btn{
    float: right;
    margin-top: 2rem;
    margin-right: 3rem;
    width: 13rem;
    height: 4rem;
}
.btn button{
    background-color: var(--color-button-main);
    color: white;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 1rem;
}
.btn button:hover{
    background-color: var(--color-button-hover);
}
.body_container{
    background-color: white;
    margin-top: 1rem;
    height: 73rem;
    width: 100%;
    padding-top: 1rem;
    border-radius: 1rem;
    border: 1px solid var(--color-background);
}
.part1{
    width: 100%;
    height: 5rem;
}
.part1 ul{
    display: flex;
    float: left;
    width: 100%;
}
.part1 li{
    width: 25rem;
    padding-left: 2rem;
}
.part1 i{
    font-size: 3rem;
    padding-right: 1rem;
    color: var(--color-primary);
}
.part1 input{
    width: 2.5rem;
    margin-right: 1rem;
    height: 2.5rem;
    margin-left: 2rem;
}
.part1 a{
    text-decoration: none;
    color: black;
}
.sap_xep{
    width: 96%;
    height: 5rem;
}
.sap_xep ul{
    display: flex;
    float: left;
    width: 100%;
}
.sap_xep li{
    width: 20rem;
    padding-left: 1rem;
}
.sap_xep i{
    font-size: 3rem;
    padding-right: 1rem;
    color: var(--color-primary);
}
.search input{
    width: 2rem;
    height: 2rem;
    
}
.date_time{
    width: 22rem !important;
    height: 100% !important;
    border-radius: 1rem;
}
.date_time input{
    width: 100%;
    height: 4rem;
    border-radius: 1rem;
}
.sap_xep select{
    width: 90%;
    height: 4rem;
    border-radius: 1rem;
}

.checkbox input{
    width: 7rem !important;
    /* margin-right: -1rem; */
    height: 3rem;
}
.search{
    margin-left: 3rem !important;
    width: 36rem !important;
    height: 4rem !important;
}
.search input{
    width: 100%;
    height: 100%;
    padding-left: 1rem;
    border-radius: 1rem;
    border: 1px solid black;
}
.search button{
    width: 6rem;
    margin-left: -12%;
    padding-top: 0.5%;
    background-color: white;
    border-radius: 0 1rem 1rem 0;
}
.thong_tin{
    width: 100%;
    height: 100%;
}
.scroll_table {
    margin-top: 2rem;
    margin-left: 2%;
    height: 50rem;
    width: 95%;
    overflow-y: auto;
    border: 1px solid var(--color-background);
    border-collapse: collapse;
    text-align: center;
}
.scroll_table th,td{
    width: 100rem;
}
.scroll_table thead th{
    position: sticky !important;
    top: 0 !important;
    background-color: gray;
    color: black;
}
.scroll_table input{
    width: 3rem;
    height: 3rem;
}
.scroll_table img{
    width: 10rem;
    height: 10rem;
}
.img_col{
    width: 100px;
}
.more_button{
    width: 8rem;
    height: 3rem;
    border: none;
    background-color: unset;
    font-size: 2rem;
}
.more_button i{
    color: grey;
}
.more_button i:hover{
color: var(--color-button-hover);
}
.dropdown_more_btn {
    position: relative;
    display: inline-block;
}
.dropdown_content_more{
    margin-left: -2rem;
    text-align:left;
    display: none;
    position: absolute;
    min-width: 130px;
    z-index: 1;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 10);
    -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 10);
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 10);
}
.dropdown_content_more i{
    padding-right: 1rem;
    padding-left: 1rem;
}
.dropdown_content_more a {
    color: black;
    text-decoration: none;
    display: block;
}
.dropdown_content_more a:hover {color: var(--color-button-hover);}

.dropdown_more_btn:hover .dropdown_content_more {display: block;}

.dropdown_more_btn:hover .more_button {color:var(--color-button-hover);}
