:root {
  --section-spacing: 100px;
  @media screen and (max-width: 1279px) {
    --section-spacing: 70px;
  }
  @media screen and (max-width: 767px) {
    --section-spacing: 50px;
  }
}
.global {
  &-food {
    &-heading {
      font-size: 30px;
      line-height: calc(40/30);
    }
  }
}
.header {
  padding-bottom: 0;
}
.button {
  &--dark {
    border-radius: 8px;
    color: white;
    line-height: 1.5;
    background-color: $blue-dark;
    &:hover {
      color: white;
      background: linear-gradient(103.38deg, #f4a91e 5.1%, #f67102 86.29%);
    }
  }
  &--orange {
    border-radius: 8px;
    color: white;
    line-height: 1.5;
    background-color: $orange;
    &:hover {
      color: white;
      background: linear-gradient(103.38deg, #f4a91e 5.1%, #f67102 86.29%);
    }
  }
  &--green {
    border-radius: 8px;
    color: white;
    line-height: 1.5;
    background-color: $green;
    &:hover {
      color: white;
      background: linear-gradient(103.38deg, #f4a91e 5.1%, #f67102 86.29%);
    }
  }
}
.green {
  color: $green;
  &-bg {
    background-color: rgba(98, 206, 134, 0.08);
  }
  &-bgfull {
    background-color: $green;
  }
}
.orange {
  color: $orange;
  &-bg {
    background-color: rgba(255, 177, 43, 0.08);
  }
  &-bgfull {
    background-color: $orange;
  }
}
.blue-dark {
  color: $blue-dark;
  &-bg {
    background-color: rgba(5, 20, 65, 0.08);
  }
  &-bgfull {
    background-color: $blue-dark;
  }
}
.red {
  color: $red;
  &-bg {
    background-color: rgba(255, 76, 59, 0.08);
  }
  &-bgfull {
    background-color: $red;
  }
}