:root {
  --section-spacing: 100px;
  @media screen and (max-width: 1279px) {
    --section-spacing: 70px;
  }
  @media screen and (max-width: 767px) {
    --section-spacing: 50px;
  }
}
.global {
  &-food {
    &-heading {
      font-size: 30px;
      line-height: calc(40 / 30);
    }
  }
}
.header {
  padding-bottom: 0;
}
.button {
  &--dark {
    border-radius: 8px;
    color: white;
    line-height: 1.5;
    background-color: $blue-dark;
    &:hover {
      color: white;
      background: linear-gradient(103.38deg, #f4a91e 5.1%, #f67102 86.29%);
    }
  }
  &--orange {
    border-radius: 8px;
    color: white;
    line-height: 1.5;
    background-color: $orange;
    &:hover {
      color: white;
      background: linear-gradient(103.38deg, #f4a91e 5.1%, #f67102 86.29%);
    }
  }
  &--green {
    border-radius: 8px;
    color: white;
    line-height: 1.5;
    background-color: $green;
    &:hover {
      color: white;
      background: linear-gradient(103.38deg, #f4a91e 5.1%, #f67102 86.29%);
    }
  }
  &--red {
    border-radius: 8px;
    color: white;
    line-height: 1.5;
    background-color: $red;
    &:hover {
      color: white;
      background: linear-gradient(103.38deg, #f4a91e 5.1%, #f67102 86.29%);
    }
  }
}
.green {
  color: $green !important;
  &-bg {
    background-color: rgba(98, 206, 134, 0.08) !important;
  }
  &-bgfull {
    background-color: $green !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
}
.orange {
  color: $orange !important;
  &-bg {
    background-color: rgba(255, 177, 43, 0.08) !important;
  }
  &-bgfull {
    background-color: $orange !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
}
.blue-dark {
  color: $blue-dark;
  &-bg {
    background-color: rgba(5, 20, 65, 0.08) !important;
  }
  &-bgfull {
    background-color: $blue-dark !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
}
.red {
  color: $red !important;
  &-bg {
    background-color: rgba(255, 76, 59, 0.08) !important;
  }
  &-bgfull {
    background-color: $red !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
}
.food {
  &-container {
    padding: 0 20px;
  }
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }
  &-more {
    color: $gray-dark;
    display: flex;
    align-items: center;
    a {
      z-index: 3;
      &:hover {
        & ~ img {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
    img {
      width: 20px;
      height: 20px;
      opacity: 0;
      transform: translateX(-20px);
      transition: all 0.3s ease;
    }
  }
  &-link {
    color: $gray-light-footer;
    line-height: calc(30 / 16);
    position: relative;
    transition: all 0.2s linear;
    display: inline-block;
    &:before {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      height: 2px;
      background-color: $primary-color;
      width: 0;
      transition: all 0.2s linear;
    }
    &:hover {
      color: $primary-color;
    }
    &:hover:before {
      width: 100%;
    }
  }
}
.heart {
  width: 35px;
  height: 35px;
  transition: all 0.2s linear;
  cursor: pointer;
  &:hover {
    transform: scale(1.2);
  }
}
// .number_count {
//   font-size: 21px;
//   font-weight: 600;
//   color: $gray-dark;
//   padding: 0 15px;
// }
// .minus,
// .plus {
//   width: 30px;
//   height: 30px;
//   transition: all 0.2s linear;
//   cursor: pointer;
//   background-size: cover;
//   &:hover {
//     transform: scale(1.2);
//     filter: invert(47%) sepia(47%) saturate(1831%) hue-rotate(1deg) brightness(104%) contrast(105%);
//   }
// }
// .minus {
//   background-image: url(../../../assets/images/main-images/icon-minus.svg);
// }
// .plus {
//   background-image: url(../../../assets/images/main-images/icon-plus.svg);
// }

.buttons_added {
  display: -ms-inline-flexbox;
  display: inline-flex;
  white-space: nowrap;
  vertical-align: top;
  align-items: center;
}
.is-form {
  text-align: center;
  overflow: hidden;
  position: relative;
  background-color: white;
  border: none;
  height: 30px;
  width: 30px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 100rem;
  transition: all 0.2s linear;
  cursor: pointer;
  &:hover {
    scale: 1.2;
    background-color: #ff7d00;
    color: white;
  }
}
.is-form:focus,
.input-text:focus {
  outline: none;
}
.input-qty {
  font-size: 21px;
  font-weight: 600;
  color: $gray-dark;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  border: none;
  width: 45px;
}
.input-qty::-webkit-outer-spin-button,
.input-qty::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
