html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}
a:hover {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

:root {
  --section-spacing: 140px;
}
@media screen and (max-width: 1279px) {
  :root {
    --section-spacing: 70px;
  }
}
@media screen and (max-width: 767px) {
  :root {
    --section-spacing: 50px;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1;
  color: #635f85;
  font-size: 16px;
  font-weight: 400;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1170px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100% !important;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  background-color: transparent;
  border-radius: 100rem;
  padding: 13px 32px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.button--primary {
  color: white;
  line-height: 1.5;
  background: linear-gradient(103.38deg, #f67102 5.1%, #f4a91e 86.29%);
}
.button--primary:hover {
  color: white;
  background: linear-gradient(103.38deg, #f4a91e 5.1%, #f67102 86.29%);
}
.button--secondary {
  color: #ff7d00;
  border: 2px solid #e7e7e7;
}
.button--secondary:hover {
  color: #ff7d00;
  border: 2px solid #ff7d00;
}

.show-on-scroll {
  opacity: 0;
  transform: translateY(50%);
}
.show-on-scroll.is-visible {
  transition: all 0.5s 0.25s ease-out;
  opacity: 1;
  transform: translateY(0);
}

.global-caption {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  letter-spacing: 0.185em;
  display: block;
  color: #ff7d00;
}
.global-heading {
  color: #051441;
  font-weight: bold;
}
.global-heading--huge {
  font-size: 50px;
  line-height: 1.12;
}
.global-heading--big {
  font-size: 40px;
  line-height: 1.25;
}
.global-heading--normal {
  font-size: 21px;
  line-height: 1.5;
  font-weight: 600;
}
.global-text {
  font-size: 16px;
  line-height: 1.625;
  color: #7f8ea1;
}

.goto-top {
  border-radius: 100rem;
  width: 50px;
  height: 50px;
  background: url(../../images/main-images/gototop.svg) no-repeat center, linear-gradient(45deg, #f67102 5.1%, #f4a91e 86.29%);
  position: fixed;
  bottom: 30px;
  right: 20px;
  z-index: 999;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  opacity: 0;
}
.goto-top:hover {
  transform: scale(1.2);
}
.goto-top.is-visible {
  opacity: 1;
}

.is-hidden {
  display: none !important;
}

@media screen and (max-width: 767px) {
  .button {
    padding: 10px 20px;
    font-size: 14px;
  }

  .global-heading--big {
    font-size: 30px;
  }

  .global-text {
    font-size: 14px;
  }
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #a7a7a7;
  border: transparent 3px solid;
}

::-webkit-scrollbar-thumb:hover {
  background: #6d6d6d;
}

.shoppingcart-alert {
  color: #ff7d00;
}

.toggle {
  margin-left: auto;
  display: none;
  align-items: center;
  height: 86px;
}
.toggle-close {
  display: none;
  margin: 30px 0 15px;
}
.toggle-close img {
  padding: 15px;
  display: inline-block;
  cursor: pointer;
}
.toggle-check {
  display: none;
}

.navigation {
  padding: 10px 20px 40px;
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  transition: all 0.5s ease-in-out;
}
.navigation-fixed {
  height: 86px;
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 995;
  background-color: white;
  max-width: 100%;
  padding: 0 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.auth {
  height: 86px;
  display: flex;
  gap: 0 15px;
  margin-left: 40px;
  position: relative;
  align-items: center;
}
.auth img {
  width: 30px;
  height: 30px;
}
.auth-username {
  font-size: 16px;
  font-weight: 600;
  color: #635f85;
  cursor: pointer;
  transition: all 0.3s linear;
}
.auth-user, .auth-shoppingcart, .auth-like {
  height: 86px;
}
.auth-like {
  display: flex;
  align-items: center;
}
.auth-like-top {
  display: flex;
  align-items: center;
  gap: 8px;
}
.auth-like:hover .arrow-down {
  opacity: 1;
  transform: translateY(0px);
}
.auth-like:hover .auth-like-dropdown {
  display: block;
  transform: translateY(20px);
  opacity: 1;
  z-index: 50;
}
.auth-like-dropdown {
  min-width: 320px;
  position: absolute;
  font-weight: 600;
  top: 50px;
  right: 0;
  background-color: white;
  display: none;
  list-style-type: none;
  width: 100%;
  z-index: -10;
  padding: 15px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: all 0.3s ease-in-out;
  transform: translateY(-10px);
}
.auth-like-dropdown-link {
  padding: 15px;
  color: inherit;
  position: relative;
  transition: all 0.2s linear;
  display: block;
  border-radius: 10px;
}
.auth-like-dropdown-link:hover {
  color: #ff7d00;
  background-color: #e7e7e7;
}
.auth-shoppingcart {
  display: flex;
  align-items: center;
}
.auth-shoppingcart-top {
  display: flex;
  align-items: center;
  gap: 8px;
}
.auth-shoppingcart:hover .arrow-down {
  opacity: 1;
  transform: translateY(0px);
}
.auth-shoppingcart:hover .auth-shoppingcart-dropdown {
  display: block;
  transform: translateY(20px);
  opacity: 1;
  z-index: 50;
}
.auth-shoppingcart-dropdown {
  min-width: 320px;
  position: absolute;
  font-weight: 600;
  top: 50px;
  right: 0;
  background-color: white;
  display: none;
  list-style-type: none;
  width: 100%;
  z-index: -10;
  padding: 15px;
  padding-bottom: 25px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: all 0.3s ease-in-out;
  transform: translateY(-10px);
}
.auth-shoppingcart-dropdown-link {
  padding: 15px 10px 15px 10px;
  color: inherit;
  position: relative;
  transition: all 0.2s linear;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: -10px;
  text-align: right;
  border: 2px solid transparent;
  border-radius: 100rem;
}
.auth-shoppingcart-dropdown-link .sum-price {
  margin-left: 10px;
}
.auth-shoppingcart-dropdown-link a {
  color: inherit;
  text-decoration: none;
}
.auth-shoppingcart-dropdown-link:hover {
  color: #ff7d00;
  border: 2px solid #ff7d00;
}
.auth-user {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;
  font-size: 16px;
  font-weight: 600;
}
.auth-user:hover .arrow-down {
  opacity: 1;
  transform: translateY(0px);
}
.auth-user:hover .auth-username {
  color: #ff7d00;
}
.auth-user:hover .auth-user-dropdown {
  display: block;
  opacity: 1;
  transform: translateY(20px);
  z-index: 50;
}
.auth-user-top {
  display: flex;
  align-items: center;
  gap: 8px;
}
.auth-user-dropdown {
  position: absolute;
  font-weight: 600;
  top: 50px;
  left: 0;
  right: 0;
  background-color: white;
  display: none;
  list-style-type: none;
  width: 100%;
  z-index: -10;
  padding: 15px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transform: translateY(-10px);
  transition: all 0.3s ease-in-out;
}
.auth-user-dropdown-link {
  padding: 15px;
  color: inherit;
  position: relative;
  transition: all 0.2s linear;
  display: block;
  border-radius: 10px;
}
.auth-user-dropdown-link:hover {
  color: #ff7d00;
  background-color: #e7e7e7;
}
.auth .arrow-down {
  width: 20px;
  height: 20px;
  margin-left: -6px;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.2s ease-in-out;
}

.menu {
  height: 86px;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 0 40px;
  list-style: none;
  margin-bottom: 0;
}
.menu-link {
  color: inherit;
  position: relative;
  transition: all 0.2s linear;
  display: block;
}
.menu-link:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 2px;
  background-color: #ff7d00;
  width: 0;
  transition: all 0.2s linear;
}
.menu-link:hover {
  color: #ff7d00;
}
.menu-link:hover:before {
  width: 100%;
}
.menu .link-active {
  color: #ff7d00;
}
.menu .link-active:before {
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 2px;
  background-color: #ff7d00;
  transition: all 0.2s linear;
  width: 100%;
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 38px;
  position: relative;
}
.header-content {
  width: 100%;
}
.header-heading {
  margin: 18px 0 25px;
}
.header-desc {
  margin-bottom: 50px;
}
.header-actions {
  display: flex;
  align-items: center;
  gap: 0 36px;
}
.header-image {
  position: relative;
}
.header-image video {
  max-width: 900px;
  width: 100%;
  border-radius: 10px;
}
.header-image video:hover ~ button {
  opacity: 0.8;
}
.header-image button {
  z-index: 9;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  border-radius: 100rem;
  transform: translate(-50%, -50%);
  background-color: #7f8ea1;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s ease-in;
}
.header-image button:hover {
  background-color: #e7e7e7;
  opacity: 1;
}
.header-image button img {
  scale: 1.3;
}

.watch-video {
  display: flex;
  align-items: center;
  gap: 0 20px;
  color: #051441;
  box-shadow: 0px 17px 25px rgba(140, 141, 146, 0.12);
  line-height: 20px;
  scale: 1;
}
.watch-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
}

#play-pause .watch-icon {
  width: 35px;
}

.dropdown-item {
  display: grid;
  grid-template-columns: 1fr 1.5fr 0.5fr;
  padding: 10px;
  border-radius: 10px;
}
.dropdown-item:hover {
  background-color: #e7e7e7;
}
.dropdown-item-image {
  width: 80px !important;
  height: 80px !important;
  border-radius: 10px;
}
.dropdown-item-text {
  display: flex;
  flex-direction: column;
}
.dropdown-item-text-price {
  font-size: 16px;
  font-weight: 600;
  color: #ff7d00;
  line-height: 20px;
}
.dropdown-item-text-title {
  font-size: 18px;
  font-weight: 600;
  color: #051441;
  line-height: 20px;
  height: 40px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.dropdown-item-text-desc {
  font-size: 14px;
  color: #7f8ea1;
  line-height: 20px;
}
.dropdown-item-right {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 1024px) {
  .header-content {
    max-width: 496px;
  }
}
@media screen and (max-width: 1023px) {
  .auth {
    padding-left: 15px;
    margin-left: 0;
    margin-top: 25px;
  }
  .auth-user-dropdown {
    box-shadow: none;
    border-radius: 0;
    padding: 0;
  }
  .auth-user-dropdown-link:hover {
    background-color: transparent;
  }
  .auth-user-dropdown-link:before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 2px;
    background-color: #ff7d00;
    width: 0;
    transition: all 0.2s linear;
  }
  .auth-user-dropdown-link:hover:before {
    width: 100%;
  }

  .menu {
    height: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 330px;
    flex-direction: column;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 99999;
    align-items: stretch;
    transition: all 0.2s linear;
    transform: translateX(100%);
  }
  .menu-link {
    padding: 15px;
  }

  .header-main {
    flex-direction: column;
    gap: 20px;
  }
  .header-desc {
    margin-bottom: 30px;
  }

  .toggle {
    display: flex;
  }
  .toggle-close {
    display: inline-block;
  }
  .toggle-check:checked ~ .menu {
    transform: translateX(0);
  }
  .toggle-check:checked ~ .overlay {
    display: block;
  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 998;
  }
}
@media screen and (max-width: 767px) {
  .header-heading {
    font-size: 35px;
  }
  .header-actions {
    gap: 30px;
  }
}
.brand {
  background: #f4f7fd;
  padding: 80px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 55px;
  margin-bottom: var(--section-spacing);
  margin-top: var(--section-spacing);
}
.brand-item img {
  height: 32px;
}
@media screen and (max-width: 1023px) {
  .brand {
    gap: 0 20px;
    padding: 20px;
  }
}

@media screen and (max-width: 1023px) {
  .brand {
    display: grid;
    justify-content: flex-start;
    grid-auto-columns: 35%;
    grid-auto-flow: column;
    grid-gap: 0 5rem;
    overflow: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    scroll-padding: 3rem;
    grid-template-columns: unset;
  }

  .brand::-webkit-scrollbar {
    display: none;
    width: 0;
  }

  .brand > * {
    scroll-snap-align: start;
  }
}
.service {
  padding-bottom: 70px;
}
.service-header {
  text-align: center;
  margin-bottom: 73px;
}
.service-caption {
  margin-bottom: 25px;
}
.service-heading {
  max-width: 426px;
  margin: 0 auto 32px;
}
.service-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 33px;
}
.service-item {
  border: 2px solid #edeff7;
  border-radius: 13px;
  padding: 40px 45px 87px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: all 0.2s linear;
}
.service-item:hover {
  box-shadow: 0px 24px 60px rgba(94, 122, 148, 0.1);
  border-color: transparent;
}
.service-icon {
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 26px;
  transition: all 0.2s linear;
}
.service-icon img {
  transition: all 0.2s linear;
}
.service-title {
  margin-bottom: 19px;
}
@media screen and (max-width: 1023px) {
  .service {
    padding-bottom: 50px;
  }
  .service-header {
    margin-bottom: 33px;
  }
  .service-list {
    display: grid;
    justify-content: flex-start;
    grid-auto-columns: 300px;
    grid-auto-flow: column;
    grid-gap: 2rem;
    overflow: auto;
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    scroll-padding: 20px;
    padding: 20px;
    grid-template-columns: unset;
    position: relative;
  }
  .service-list > * {
    scroll-snap-align: start;
    padding: 20px 20px 45px;
  }
}

.who {
  padding-bottom: var(--section-spacing);
}
.who-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 87px;
}
.who-image {
  width: 100%;
  max-width: 600px;
}
.who-content {
  flex: 1;
}
.who .global-heading {
  max-width: 422px;
}
.who .global-caption,
.who .global-heading {
  margin-bottom: 25px;
}
.who .global-text {
  margin-bottom: 37px;
}
@media screen and (max-width: 1023px) {
  .who-container {
    gap: 30px;
    flex-direction: column;
  }
  .who-image {
    max-width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.mission {
  padding: 100px 20px 90px;
  background: #f4f8fd;
  margin-bottom: var(--section-spacing);
}
.mission-header {
  text-align: center;
}
.mission-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.mission-heading {
  max-width: 426px;
  margin: 0 auto 32px;
}
.mission-item {
  border: 2px solid #f4f6ff;
  border-radius: 13px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: all 0.2s linear;
  background-color: white;
  box-shadow: 0px 10px 30px rgba(150, 182, 212, 0.01);
}
.mission-item:hover {
  box-shadow: 0px 24px 60px rgba(94, 122, 148, 0.1);
  border-color: transparent;
}
.mission-item:hover .mission-title {
  color: #ff7d00;
}
.mission-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 26px;
  transition: all 0.2s linear;
}
.mission-icon img {
  width: 120px;
  height: 120px;
  border-radius: 100rem;
  object-fit: cover;
  transition: all 0.2s linear;
}
.mission-title {
  font-size: 18px;
  transition: all 0.2s linear;
}
.mission-text {
  font-size: 18px;
}
.mission .global-heading {
  max-width: 443px;
  margin: 0 auto 10px;
}
.mission .global-text {
  margin-bottom: 20px;
}
.mission .global-caption {
  margin-bottom: 18px;
}
.mission-button {
  width: 100%;
  max-width: 250px;
}
.mission-button img {
  height: 20px;
  margin-right: 15px;
}
@media screen and (max-width: 1023px) {
  .mission {
    padding: 70px 0;
  }
  .mission-container {
    flex-direction: column;
    gap: 30px;
  }
  .mission-content {
    max-width: 100%;
  }
  .mission-header {
    margin-bottom: 33px;
  }
  .mission-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 767px) {
  .mission {
    padding: 50px 0;
  }
  .mission-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

.review-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--section-spacing);
}
.review-content {
  width: 100%;
  max-width: 400px;
}
.review-number {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 0 10px;
  color: #7f8ea1;
}
.review-count {
  font-weight: 600;
  font-size: 25px;
  color: #f4a11a;
}
.review-list {
  width: 100%;
  max-width: 523px;
  grid-gap: 20px;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  position: relative;
  padding-left: 40px;
}
.review-card {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 8px 55px rgba(155, 162, 173, 0.17);
  border-radius: 10px;
  padding: 25px;
  position: relative;
}
.review-card + .review-card {
  margin-top: 20px;
}
.review-rating {
  display: flex;
  align-items: center;
  gap: 0 3px;
  font-size: 8px;
  color: black;
  position: absolute;
  right: 25px;
  top: 25px;
}
.review-avatar {
  width: 50px;
  height: 50px;
  border-radius: 100rem;
  margin-bottom: 7px;
}
.review-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100rem;
}
.review-name {
  color: #051441;
  font-weight: 500;
  font-size: 13px;
  margin-bottom: 5px;
}
.review-job {
  font-weight: 500;
  font-size: 7px;
  color: #6b7d92;
  display: block;
  margin-bottom: 8px;
}
.review-desc {
  font-size: 10px;
  line-height: 14px;
  color: #79899d;
  margin-bottom: 24px;
}
.review-quote img {
  margin-left: auto;
}
.review .global-caption {
  margin-bottom: 11px;
}
.review .global-heading {
  margin-bottom: 25px;
}
.review .global-text {
  margin-bottom: 20px;
}
.review-bg {
  position: absolute;
}
@media screen and (max-width: 1023px) {
  .review-container {
    flex-direction: column;
    gap: 35px;
  }
  .review-content {
    max-width: 100%;
  }
  .review-list {
    padding-left: 0;
  }
}
@media screen and (max-width: 767px) {
  .review-list {
    max-width: 100%;
    grid-template-columns: 1fr;
  }
  .review-bg {
    display: none;
  }
}

.blog {
  margin-bottom: var(--section-spacing);
}
.blog-header {
  text-align: center;
  margin-bottom: 78px;
}
.blog-list {
  align-items: center;
}
.blog-item {
  border-radius: 17px;
  transition: all 0.2s linear;
  margin-bottom: 20px;
}
.blog-item:hover {
  background: #ffffff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.blog-item:hover .blog-title,
.blog-item:hover .blog-more a {
  color: #f4a11a;
}
.blog-content {
  padding: 33px 23px;
}
.blog-image {
  height: 322px;
}
.blog-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 17px 17px 0px 0px;
}
.blog-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #051441;
  margin-bottom: 9px;
  transition: all 0.2s linear;
}
.blog-desc {
  font-size: 13px;
  line-height: 20px;
  color: #7f8ea1;
}
.blog-more {
  font-weight: 600;
  font-size: 18px;
  transition: all 0.2s linear;
  display: flex;
  justify-content: end;
}
.blog-more a {
  color: #7f8ea1;
}
.blog .global-heading {
  max-width: 545px;
  margin: 0 auto 25px;
}
@media screen and (max-width: 1023px) {
  .blog-header {
    margin-bottom: 35px;
  }
}

.post-item {
  border-radius: 17px;
  transition: all 0.2s linear;
  margin-bottom: 20px;
}
.post-item:hover {
  background: #ffffff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.post-item:hover .post-title,
.post-item:hover .post-more {
  color: #f4a11a;
}
.post-content {
  padding: 10px 20px;
}
.post-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  margin-bottom: 40px;
}
.post-media {
  margin-bottom: 10px;
  display: block;
}
.post-image {
  width: 100%;
  height: 310px;
  border-radius: 12px;
  object-fit: cover;
}
.post-category {
  display: inline-block;
  padding: 5px 10px;
  color: #ff7d00;
  margin-bottom: 10px;
  position: relative;
  border-radius: 10px;
}
.post-category:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: currentColor;
  opacity: 0.15;
}
.post-title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
  display: block;
  color: black;
  text-transform: capitalize;
}
.post-title-heading {
  color: black;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 50px;
  margin-left: 20px;
  text-align: center;
}
.post-desc {
  line-height: 1.4;
  font-weight: 300;
  font-size: 14px;
  color: #6b7d92;
  margin-bottom: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 100%;
  word-break: break-word;
}
.post-desc a {
  color: inherit;
}
.post-desc a:hover {
  color: #ff7d00;
}
.post-author {
  display: flex;
  align-items: center;
}
.post-author-image {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  object-fit: cover;
  flex-shrink: 0;
  margin-right: 10px;
}
.post-author-name {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
  line-height: 1;
  color: black;
}
.post-author-time {
  font-size: 12px;
  color: #999;
  font-weight: 300;
}
.post-feature {
  align-items: center;
}
.post-feature-content {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-gap: 0 60px;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 12px;
  transition: all 0.3s linear;
}
.post-feature-content:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.post-feature-info {
  padding: 20px;
}
.post-feature-media {
  margin-bottom: 0;
}
.post-feature-image {
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
  height: 370px;
}
.post-feature-title {
  font-size: 35px;
  font-weight: bold;
  line-height: 1.3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 100%;
  word-break: break-word;
}
.post-feature-title:hover {
  color: #ff7d00;
}
.post-feature-list {
  align-items: center;
  margin-bottom: 50px !important;
}
@media screen and (max-width: 1023px) {
  .post-list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
  }
  .post-media {
    position: relative;
    padding-top: 56.25%;
    height: 0;
  }
  .post-image, .post-feature-image {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  .post-feature-content {
    grid-gap: 0 40px;
  }
  .post-feature-title {
    font-size: 25px;
    line-height: 1.3;
  }
}
@media screen and (max-width: 767px) {
  .post-feature-content {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
  }
}

.subscribe {
  margin-bottom: var(--section-spacing);
}
.subscribe-container {
  padding: 77px 20px 116px;
  background-color: #f4f6fd;
  border-radius: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscribe-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 796px;
}
.subscribe-content {
  width: 100%;
  max-width: 404px;
}
.subscribe-heading {
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 25px;
  color: #051441;
}
.subscribe-desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #787e86;
  opacity: 0.8;
  max-width: 338px;
}
.subscribe-form {
  background: #ffffff;
  border-radius: 26.5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 373px;
}
.subscribe-field {
  flex: 1;
}
.subscribe-input {
  padding: 15px 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  color: #051441;
  outline: none;
  border: 0;
  background-color: transparent;
  width: 100%;
}
@media screen and (max-width: 1023px) {
  .subscribe-heading {
    font-size: 30px;
    line-height: 1.5;
  }
  .subscribe-container {
    padding-top: 35px;
    padding-bottom: 35px;
    border-radius: 20px;
  }
}
@media screen and (max-width: 767px) {
  .subscribe-main {
    flex-direction: column;
    gap: 35px;
    align-items: stretch;
  }
  .subscribe-content {
    text-align: center;
  }
  .subscribe-form {
    max-width: 100%;
  }
}

.footer {
  background-color: #052347;
  padding-bottom: 30px;
  padding-top: 90px;
  font-size: 14px;
}
.footer-container {
  display: grid;
  grid-template-columns: 2.5fr 1fr 1fr 1fr;
  grid-gap: 0 70px;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}
.footer-desc {
  margin-bottom: 20px;
  color: #afaccd;
  line-height: 1.5714285714;
}
.footer-heading {
  margin-bottom: 20px;
  color: #d9e1f0;
  font-size: 18px;
}
.footer-links {
  list-style-type: none;
  color: #e7e7e7;
}
.footer-item {
  margin-bottom: 10px;
}
.footer-link {
  color: #afaccd;
  line-height: 1.875;
  position: relative;
  transition: all 0.2s linear;
  display: inline-block;
}
.footer-link:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 2px;
  background-color: #ff7d00;
  width: 0;
  transition: all 0.2s linear;
}
.footer-link:hover {
  color: #ff7d00;
}
.footer-link:hover:before {
  width: 100%;
}
.footer-link-none {
  color: #afaccd;
  line-height: 1.875;
}
.footer .social {
  display: flex;
  align-items: center;
}
.footer .social-item {
  margin-right: 20px;
}
.footer .social img {
  height: 30px;
}
.footer .copyright {
  margin-top: 50px;
  padding-top: 30px;
  border-top: #7f8ea1 solid 1px;
  text-align: center;
}

@media screen and (max-width: 1023px) {
  .footer {
    padding: 30px 0;
  }
  .footer-item {
    display: block;
  }
  .footer-link {
    display: inline-block;
  }

  .footer-container {
    gap: 0 30px;
  }

  .copyright {
    margin-top: 30px;
  }
}
@media screen and (max-width: 767px) {
  .footer-container {
    grid-template-columns: 100%;
    grid-gap: 30px 0;
  }
}
.slick-slide {
  height: fit-content;
}

.slick-initialized .slick-slide {
  margin: 0 15px;
}

.slick-prev {
  top: 40%;
  transform: translateY(-50%);
  left: -60px;
}
.slick-next {
  top: 40%;
  transform: translateY(-50%);
  right: -60px;
}
@media screen and (max-width: 1279px) {
  .slick-prev {
    left: -10px;
  }
  .slick-next {
    right: -10px;
  }
}

.slick-prev,
.slick-next {
  width: 50px;
  height: 50px;
  z-index: 10;
}
.slick-prev:before,
.slick-next:before {
  transition: all 0.3s ease-in-out;
  color: #ff7d00;
  font-size: 50px;
  opacity: 0.5;
}
@media screen and (max-width: 767px) {
  .slick-prev,
.slick-next {
    width: 30px;
    height: 30px;
  }
  .slick-prev:before,
.slick-next:before {
    font-size: 30px;
  }
}

.slick-dots li button:before {
  font-size: 10px;
  opacity: 0.15;
}
.slick-dots li.slick-active button:before {
  opacity: 0.7;
  color: #ff7d00;
}

/*# sourceMappingURL=app.css.map */
